extends layout.pug
	
block content
	style.
		tbody tr {height:20px; width:18%;}
		tbody tt {overflow:hidden; overflow-y:scroll;}
	.row
		.col-md-4
			.panel.panel-default
			.panel-body
				h1 This is the about page.
		.col-md-8
			.panel.panel-default
			.panel-body
				p Some info
