.img-props{
  border-style:solid;
  border-radius: 70%;
  margin-top: 100px;
  margin-left: 225px;
}
.txt-props{
  margin-left:400px;
  color:white;
  font-family: 'Saira', sans-serif;
  font-size: 40px
}
.large{
  height: 500px;
}
.logos{
  margin-top: 50px;
  margin-left: 20px;
}
.bck-img{
  background-image: url('https://user-images.githubusercontent.com/25569545/29087301-784f4964-7c43-11e7-9cef-bef3d2f4fe36.png');
  background-size: 1450px 500px;
  background-repeat: no-repeat;
  background-position: left top;
}
.logo-size{
  width:20%;
  height:auto;
  position: absolute;
  left: 40%;
}
ul {
    padding:0;
    list-style: none;
}
li{
  margin: 50px;
}
.footer-social-icons {
    width: 600px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
  
}
ul.social-icons {
    margin-top: 30px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.fa{
  border-radius: 50%;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size:30px;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.text-center{
  text-align: center;
}
.purpose{
  margin-bottom: 100px;
  display: block;
  padding-left:150px;
  padding-right:150px;
  font-family: 'Saira', sans-serif;
  font-size: 30px
}
.titles{
  font-family: 'Saira', sans-serif !important;
  font-size:70px !important;
  font-weight:700 !important;
  margin-bottom:50px !important;
  font-color: black !important;
}
.goals{
  font-family: 'Saira', sans-serif;
  margin-bottom: 100px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 300px;
    padding-left: 0;
}

.goals-props{
  margin-top: 30px;
  padding-left:30px;
  padding-right:30px;
  font-size: 20px;
  font-color: #838383;
} 
.title-space{
  margin-top: 50px;
}
.full-width{
  width:100%;
}
