extends layout.pug
	
block content
	style.
		tbody tr {height:20px; width:18%;}
		tbody tt {overflow:hidden; overflow-y:scroll;}
	.row
		h1 Contact Us
		.panel.panel-default
		.panel-body
			p If you have any questions, please reach out to us at info@agilebond.com
