  <div class="row">
  <div class="col-md-4">
    <div class="panel panel-default"></div>
    <div class="panel-heading">
      <h1>Want to issue a bond?</h1>
    </div>
    <div class="panel-body">
      <center><button onClick="location.href = '/issue';" method="POST">Issue Bond</button></center>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default"></div>
    <div class="panel-heading">
      <h1>
        <center>
          Bonds Issued
        </center>
        </h1>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Issuer</th>
            <th>Rate (%)</th>
            <th>Balance</th>
            <th>Lend</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td><button onClick="location.href = '#';" method="POST">Lend</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
